* {
  font-family: 'PT Sans', sans-serif;
  border-radius: 0!important;
}

body {
  font-size: 16px;
  line-height: 21.328px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none !important;
}

/* Perfect Fourth Scale */
/* 12px - 16px - 21.328px - 28.430px - 37.897px */

h1 {
  font-size: 37.897px;
  line-height: 50.516px;
}

h2 {
  font-size: 28.430px;
  line-height: 37.897px;
  color:#656565;
}

h3 {
  font-size: 21.328px;
  line-height: 28.430px;
}

p {
  font-size: 16px;
  line-height: 21.328px;
}


/* ========= GENERAL ========= */
.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.max-size {
    max-height: 100%;
    max-width: 100%;
}

#container{
  min-height: calc(100vh - 289px);
  padding-bottom: 30px;
}

#learning_objects{
  min-height: calc(100vh - 351px);
}

.conteudo{
  min-height: calc(100vh - 489px);
  padding-bottom: 20px;
}
/* ========= HEADER ========= */

.header-top{
    min-height: 34px;
    position: relative;
    display: block;
}

.header-top a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.header-top li{
    float: left;
    padding: 0 25px 0 0;
    line-height: 40px;
    margin-bottom: 0 !important;
    margin: 0 0 10px;
    font-size: 14px;
}

.header-top .navbar{
  margin-bottom: 0;
  min-height: 34px;
}

.header-top .navbar-toggle{
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px; 
}
.header-top .navbar-toggle i{
  color: white;
  padding: 9px;
  font-size: 1.3em;
}

.header-main{
    height: 110px;
}

#logo{
    padding-top: 20px;
    display: inline-block;
}

#logo img{
    height: 60px;
}

.rotulo{
  text-align: left;
  position: absolute;
  height: inherit;
  padding-top: 30px;
  display: inline-block;
  padding-left: 30px;
}

.rotulo h1{
  font-size: 25px;
  font-weight: bold;
  color: #fff; 
  margin: 0;
  line-height: 1.1;
}

.titulo-public{
  padding-top: 5px;
}

.rotulo h2{
  font-size: 20px;
  color: #fff; 
  margin: 0;
  line-height: 1.1;
}

.tamanho{
  position: relative;
  width: 100%;
}

/* ========= SOBRE ========= */

.sobre {
  padding: 15px;
  margin-top: 30px;
}

.center{
  text-align: center;
}
/* ========= BREADCRUMBS ========= */

.breadcrumbs{
  height: 37px;
  padding: 8px 0;
  background-color: #eaeaea;
  color: #656565;
}

small a:hover{
  filter: brightness(70%);
}
/* ========= NAVBAR OBJETOS========= */

.btn-group.bootstrap-select {
    width: inherit !important;
}
.navbar-text {
  margin-left: 0;
}

.navbar-form {
  padding: 0;
  display: inline-table;
}

.nav > li {
  margin-right: 15px;
  display: inline-block;
}

.nav > li > p {
  display: inline-block;
}

.navbar-default{
  margin-top: 30px;
}

.navbar-default i{
  color: #656565;
  font-size: 1.3em;
}

.input-group-addon{
  height: inherit;
  background-color: #656565;
  border:none;
  box-shadow: none;
  height: 34px;
  width: 34px;
  padding: 0;
}

.input-group-addon img{
  height: inherit;
}

.btn{
  text-decoration: none;
  background-image: none;
  width: inherit !important;
}

.btn:hover .btn:focus{
  text-decoration: none;
  background-image: none;
  background-color: #eaeaea;
}

.btn:click{
  text-decoration: none;
  background-image: none;
  background-color: #fff;
}

.dropdown-menu{
  width: inherit !important;
}

.selectpicker{
    box-shadow: none;
    padding: 2px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    color: #656565;
}

.navbar-toggle{
  margin-right: 0;
}

.container-fluid > .navbar-header{
  margin: 0;
}

/* ========= PANEL ========= */
.panel {
  position: relative;
  border-radius: 0;
  box-shadow: none;
  min-height: 72px;
  background-color: #ffffff;
  border:1px solid #eaeaea;
}
  .panel:hover {
    background-color: #eaeaea;
  }

.panel-body {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  font-weight: 700;
}

a:focus> .panel{
    background-color: #eaeaea;
}

/* ========= THUMBNAIL ========= */

.thumbnail {
  position: relative;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
}
  .thumbnail .wrap-image img {
  	-webkit-transform: scale(1);
  	transform: scale(1);
  	-webkit-transition: .2s ease-in-out;
  	transition: .2s ease-in-out;
  }
    .thumbnail:hover .wrap-image img {
    	-webkit-transform: scale(1.1);
    	transform: scale(1.1);
    }

.wrap-image {
  overflow: hidden;
}

.caption {
  height: 84px;
  max-height: 100%;
  overflow: hidden;
  background-color: #f5f5f5
}
  .caption h3 {
    margin: 5px 0;
    color: #656565;
  }

.modal-caption .fa{
  padding-left: 7px;
  padding-right: 3px;
}

.thumbnail img{
  height: inherit;
}

button {
  width: 100%;
  text-align: left;
}

button img{
  height: inherit;
}

li button:focus > .wrap-image img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
}

.curso-vazio{
  padding: 15px;
}

/* ========= LABELS ========= */
.label {
  z-index: 1;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0 5px 0 0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  border-radius: 0;
}
  .label-default {
    background-color: #fff;
    color: #656565;
  }
  .icone-objeto {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-color: #656565;
  }

.thumbnail .fa {
  padding: 5px;
}


/* ========= MODAL ========= */
/*.outer-modal{
    display: inline-flex;
    width: 100%;
    height: 100%;
    pointer-events:none;
}*/



.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  min-width: 100px;
  max-width: 400px;
}

/*.modal-dialog{
  min-width: 100px;
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
}*/

.modal-header {
  padding: 0;
  background-color: #f5f5f5;
  /*border-bottom: none;*/
}
  .modal-header .fechar {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #656565;
    opacity: 1;
    padding: 0;
    border: 0;
    float: right;
  }
  .modal-header .fechar:focus{
    outline: thin dotted;
  }

  .modal-image {
    max-width: 100%;
    max-height: 100%;
  }
  .modal-caption {
    padding: 15px;
    color:#656565;
  }
  .modal-title {
    margin: 0;
    font-weight: 700;
  }
  .modal-author {
    margin: 5px 0 0;
    font-weight: 400;
    color: gray;
  }

  .modal-year{
  	display: inline-block;
  	margin: 5px 0 0;
    font-weight: 400;
    color: gray;
  }

.btn-download {
  right: 15px;
  padding: 5px 10px 5px 2px;
  border: none;
  font-size: 16px;
  line-height: 21.328px;
  color: #fff;
  float: right;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: #656565;
}

.btn-download:hover{
  color: #fff;
}

.icone-baixar {
  vertical-align: -7px;
  margin-right: 5px;
  height: 25px;
  width: 25px;
}

/* ======= PAGINAÇÃO =======*/

.pagination-container{
  bottom: 0;
  width: 100%;
  text-align: center;
}

.pagination a{
	background-color: #656565 !important;
	border-color: #ddd !important;
  color: #ffffff !important;
}

.pagination > .active > a{
  background-color: #8a8a8a !important;
}

ul.pagination{
  margin: 0;
}
/* ======= CURSOS INATIVOS =======*/

.inativo{
  color:#656565;
  border-left: 7px solid #656565;
}

#inativos{
  display: none;
}

#seta{
  padding-left: 10px;
}

#inativos-mostra{
  background: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
}

#inativos-mostra:focus {
  box-shadow: 1px 1px 8px #eeeeee;
}
/*    FOOTER    */

 footer{
  position: relative;
  margin: 0;
  width: 100%;
  bottom: 0;
  height: 102px;
}

.logos-group {
    max-width: 364px;
    margin: 0 auto;
    text-align: center;
}

.logos-group a img {
    margin: 25px 10px;
    max-height: 47px;
}

/* ========= BREAKPOINTS ========= */

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  nav .btn {
    margin-left: 15px;
  }
  nav .btn-group {
    position: relative;
    vertical-align: top;
  }
  .navbar-nav,
  .navbar-form {
    padding-right: 15px;
    border: none;
    display: inline-table;
  }

  .header-top .externo{
    display: none;
  }

  #logo{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  #logo img{
    height: 30px;
  }  

  .rotulo{
    left: initial;
    width: 100%;
    text-align: center;
    top: 50px;
    line-height: 20px;
    padding-left: 0;
    padding-top: 0 !important;
  }

  .rotulo h1, .rotulo h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .modal:before {
  content: '';
  display: none;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    margin-top: 40px;
    min-width: 100px;
    max-width: 400px;
  }

  .logos-group a img {
    margin: 25px 10px;
    width: 15%;
  }
}


@media screen and (max-width: 720px) {
  .caption {
    height: auto;
  }

  .rotulo h2 {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 420px) {

  .caption h3 {
    font-size: 18px;
  }

}
