RewriteOptions inherit

# Ativa o mod_rewrite
RewriteEngine on

# HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Verifica conexão e solicita autenticação
<If "%{HTTPS} == 'on'">
    AuthName "Ambiente de Desenvolvimento"
    AuthUserFile "/home/ldiufes/.htpasswds/public_html/dev/passwd"
    AuthType Basic
    require valid-user
</If>