#index {
	#hero {
		height: 260px;
		background-position: center;
		background-size: cover;
		background: linear-gradient($azul-escuro, transparent), url(../img/hero.png);
		color: $branco;
		display: flex;
		align-items: center;
		text-align: center;

		h1 {
			max-width: 100%;
			margin: 0 auto;
			line-height: 150%;
		}

		p {
			font-size: 16px;
			margin-top: 0.4em;
			font-weight: 300;
		}

		.form-pesquisa {
			width: 80%;
			margin: 36px auto 0px auto;
			position: relative;
			display: flex;
			background-color: white;
			border-radius: 2px;
			overflow: hidden;

			> * {
				border: none;
			}

			input {
				display: block;
				width: 100%;
				padding: 1rem 1.5rem;
				font-size: 1rem;
				font-style: italic;

				&::placeholder {
					font-weight: $light;
				}
			}

			button[type="submit"] {
				height: inherit;
				border-radius: 0;
			}

			#filtro-busca {
				height: inherit;
				min-width: 100px;

				#dropdown-filtro-busca {
					background: none;
					border: none;
					border-left: 1px solid rgba(0, 0, 0, 0.1);
					color: rgba(0, 0, 0, 0.6);
					font-variant: small-caps;
					text-transform: lowercase;
					font-size: 1.3rem;
					height: 100%;
					width: 100%;
					font-weight: $medium;
					line-height: 1.2;

					i {
						color: $laranja-medio;
						padding-left: 10px;
						vertical-align: bottom;
					}
				}
			}
		}
	}

	h2 {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		padding: 0;
		font-style: italic;
		font-weight: $semi-bold;
		color: $azul-principal;
	}

	// 2.3 MATERIAIS RECENTES
	#materiais-recentes {
		padding-top: 36px;

		.cards-recentes .card-material {
			margin-right: 1rem;
		}

		.btn-primario {
			margin: 3.5rem auto 0 auto;
			float: right;
		}
	}

	// 2.4 NAVEGAR POR TIPO
	#navegar-tipos {
		margin-top: 200px;
		background: rgba(237, 249, 255, 0.6);
		position: relative;

		.container {
			h2 {
				position: relative;
				top: -0.9em;
				margin-bottom: 0;
			}

			.tipos {
				padding-top: 36px;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;

				.tipo {
					text-align: center;
					width: 267px;
					margin-bottom: 48px;

					img {
						height: 80px;
					}

					span {
						margin-top: 16px;
						display: block;
						font-weight: 500;
						font-size: 18px;
						text-transform: uppercase;
						color: $laranja-medio;
					}

					&:hover img {
						transform: scale(1.05);
						transition: 0.1s ease-in-out;
					}
				}
			}
		}
	}

	#navegar-cursos {
		padding: 80px 0;

		#dropdown-menu {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 10px;
			font-size: 16px;
			align-items: center;
			border: none;
			border-bottom: 2px solid $laranja-medio;
			background: $branco;
			color: $laranja-medio;
			font-weight: bold;
		}

		#itens-abas {
			display: none;
			padding: 10px 16px;
			margin-bottom: 12px;
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

			li {
				margin: 12px 0;

				a {
					color: $laranja-medio;
					font-weight: $medium;
				}

				&.current a {
					color: $azul-principal;
					pointer-events: none;
				}
			}
		}
	}

	@media only screen and (min-width: 760px) {
		#materiais-recentes {
			.btn-primario {
				width: 267px;
			}
		}

		#navegar-tipos {
			.container {
				.tipos {
					padding: 32px 0;
					flex-direction: row;
					justify-content: space-around;

					.tipo {
						margin-bottom: 1rem;
    				height: 160px;
						margin-bottom: 0;
						img {
							height: 100px;
						}
					}
				}
			}
		}

		#navegar-cursos {
			padding: 80px 0;

			#dropdown-menu {
				display: none;
			}

			#itens-abas {
				display: flex !important;
				width: 100%;
				position: relative;
				margin-bottom: 32px;
				padding: 0;
				background: $branco;
				box-shadow: none;

				&::after{
					content: '';
					display: block;
					position: absolute;
					height: 3px;
					width: 100%;
					background: rgba($laranja-medio, 0.2);
					bottom: 0;
				}

				li {
					display: inline-block;
					margin: 0;
					width: 180px;
					text-align: center;
					

					 a.current {
						border-color: $azul-principal;
						color: $azul-principal;
						transition: all .5s ease;

						&:hover{
							color: $azul-principal;
							border-color: $azul-principal;
						}
					}

					a {
						display: block;
						color: $laranja-medio;
						font-weight: $medium;
						padding: 10px 18px;
						cursor: pointer;
						border-bottom: 3px solid transparent;

						&:hover {
							border-color: $laranja-medio;
						}
					}
				}
			}
		}
	}

	@media only screen and (min-width: 1140px) {
		#hero {
			height: 480px;

			p {
				font-size: 24px;
				margin-top: 0.4em;
				font-weight: 300;
			}

			.search {
				max-width: 800px;
				margin: 80px auto 0px auto;

				> * {
					border: none;
				}

				input {
					padding: 20px 30px;
				}

				button {
					padding: 12px 24px;
				}
			}
		}

		h2 {
			margin-bottom: 2.5rem;
		}

		#materiais-recentes {
			padding-top: 48px;

			.cards-recentes {
				margin-right: -1rem;
				justify-content: flex-start;
			}

			.cta {
				margin-top: 4rem;
			}

			.slick-prev,
			.slick-next {
				&:before {
					color: $laranja-medio;
					border: 1px solid rgba(0, 0, 0, 0.1);
					box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
					font-size: 24px;
					padding: 1rem 1.3rem;
				}

				&:hover:before {
					box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
				}
			}

			.slick-next {
				right: -80px;
			}

			.slick-prev {
				left: -96px;
			}
		}

		#navegar-tipos {
			margin-top: 180px;
			height: 360px;

			.container {
				.tipos {
					padding-top: 40px;
					flex-direction: row;

					.tipo {
						text-align: center;
						width: 267px;

						img:hover {
							transform: scale(1.1);
							transition: 0.2s ease;
						}

						img {
							height: 100px;
						}

						span {
							margin-top: 24px;
							font-size: 24px;
						}
					}
				}
			}
		}

		#navegar-cursos {
			min-height: 800px;
			padding: 80px 0;

			.container {
				position: relative;
			}
		}
	}
}
