// CORES
$azul-extraclaro: #edf9ff;
$azul-claro: #cfeaff;
$azul-principal: #1765ab;
$azul-medio: #0c3e78;
$azul-escuro: #043166;

$azul-transparencia: rgba(12, 62, 120, 0.6);

$branco: #ffffff;
$preto: #000000;

$laranja-extraclaro: #ffdcc5;
$laranja-claro: #ffa161;
$laranja-principal: #f06c00;
$laranja-medio: #c75000;
$laranja-escuro: #b24800;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
